<% if !user_signed_in? %>
<div class="jumbotron">
  <h1>Your Favourite Movies Reviewed</h1>
  <p>This page is supported by one and only, the supreme leader of Murica, the allmighty Donald Trump, all praise the king. Heil!</p>
  <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  <a href="javascript:void(0)" id="playsound">Random sound</a>

<audio id="sound_effect" class="audio_player" preload="auto">
    <source src="http://villagegeek.com/wavfiles/Insanity2.mp3" type="audio/mp3">
</audio>
<script>
    $('#playsound').click(function (e) {
    $('#sound_effect')[0].currentTime = 0;
    $('#sound_effect')[0].play();

    return false;
});
</script>
</div>
<% else %>
<div class="row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
